{
    "extends": ["@nuxtjs/eslint-config-typescript", "prettier", "eslint-config-prettier"],
    "rules": {
        // override/add rules settings here, such as:
        // 'vue/no-unused-vars': 'error'
        "dot-notation": "off",
        "camelcase": "error",
        "no-duplicate-imports": "error",
        "import/no-extraneous-dependencies": "off",
        "import/no-unresolved": "off",
        "import/extensions": "off",
        "vue/component-tags-order": [
            "error",
            {
                "order": ["script", "template", "style"],
            },
        ],
        "no-shadow": "off",
        "@typescript-eslint/no-shadow": ["error"],
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": "error",
        "no-restricted-syntax": "off",
        "no-console": "off",
        "vue/no-mutating-props": "off",
        "vue/valid-v-slot": "off",
        "vue/no-v-html": "off",
        "import/prefer-default-export": "off",
        "no-sparse-arrays": "off",
        "import/order": "off",
        "prefer-arrow-callback": "error",
        "vue/no-multiple-template-root": "off"
    }
}
