@import url("./tailwind.css");

:root {
  --primary-color: #2a3855;
  --secondary-color: #3d4c6f;
  --white-color: #ffffff;
  --black-color: #000000;
  --gray-color: #6a6a6a;
  --light-gray-color: #f2f2f2;
  --gold-color: #fdd428;
  --dark-gold-color: #f0c202;
  --modal-overlay-color: rgba(31, 31, 31, 0.9);
}

* {
  font-family: Montserrat, sans-serif;
}

p {
  font-size: 1rem;
  color: var(--gray-color);
  font-family: "Open Sans", sans-serif;
}

p.lead {
  font-size: 1.333rem;
}

section {
  padding: 7rem 0;
}

.container {
  margin: auto;
  padding: 0px 15px;
}

@media (max-width: 47.99em) {
  section {
    padding: 4rem 0;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* Link styles */
a {
  color: var(--primary-color);
}

a:hover {
  color: var(--black-color);
}


/* loader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: #2a3855;
  transition: opacity .8s cubic-bezier(.77, 0, .18, 1);
  opacity: 0;
}

#preloader.loading {
  opacity: 1;
}

@keyframes line-scale {

  0%,
  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1)
  }

  50% {
    -webkit-transform: scaley(.4);
    transform: scaley(.4)
  }
}

.line-scale>div:nth-child(1) {
  animation: line-scale 1s -.4s infinite cubic-bezier(.2, .68, .18, 1.08)
}

.line-scale>div:nth-child(2) {
  animation: line-scale 1s -.3s infinite cubic-bezier(.2, .68, .18, 1.08)
}

.line-scale>div:nth-child(3) {
  animation: line-scale 1s -.2s infinite cubic-bezier(.2, .68, .18, 1.08)
}

.line-scale>div:nth-child(4) {
  animation: line-scale 1s -.1s infinite cubic-bezier(.2, .68, .18, 1.08)
}

.line-scale>div:nth-child(5) {
  animation: line-scale 1s 0s infinite cubic-bezier(.2, .68, .18, 1.08)
}

.line-scale>div {
  animation-fill-mode: both;
  display: inline-block
}

.line-scale-party>div,
.line-scale>div {
  background-color: #fff;
  border-radius: 2px;
  margin: 2px;
  width: 4px;
  height: 35px;
  animation-fill-mode: both
}