@import url("./tailwind.css");

:root {
  --primary-color: #2a3855;
  --secondary-color: #3d4c6f;
  --white-color: #ffffff;
  --black-color: #000000;
  --gray-color: #6a6a6a;
  --light-gray-color: #f2f2f2;
  --gold-color: #fdd428;
  --dark-gold-color: #f0c202;
  --modal-overlay-color: rgba(31, 31, 31, 0.9);
}

* {
  font-family: Montserrat, sans-serif;
}

p {
  font-size: 1rem;
  color: var(--gray-color);
  font-family: "Open Sans", sans-serif;
}

p.lead {
  font-size: 1.333rem;
}

section {
  padding: 7rem 0;
}

.container {
  margin: auto;
  padding: 0px 15px;
}

@media (max-width: 47.99em) {
  section {
    padding: 4rem 0;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* Link styles */
a {
  color: var(--primary-color);
}
a:hover {
  color: var(--black-color);
}
